make/Integration Webhooks, HTTP.blueprint.json
{
    "name": "Integration Webhooks, HTTP",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3390014,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "contrôle scénarios",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "action",
                        "label": null,
                        "help": "",
                        "type": "text",
                        "default": "start|stop|toggle",
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "scenario_id",
                        "label": null,
                        "help": "",
                        "type": "text",
                        "default": "1234567",
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "api_key",
                        "label": null,
                        "help": "",
                        "type": "text",
                        "default": "12e8b61d-a78e-47f5-9f87-359af19f46cb",
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "filter": {
                                "name": "start/stop/toggle",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.action}}",
                                            "o": "text:equal:ci",
                                            "b": "start"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{1.action}}",
                                            "o": "text:equal",
                                            "b": "stop"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{1.action}}",
                                            "o": "text:equal",
                                            "b": "oggle"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0,
                                    "messages": [
                                        {
                                            "category": "setupreq",
                                            "severity": "error",
                                            "message": "The module is not set up."
                                        }
                                    ]
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}